:root{
    --background: #fff;
    --loading-bar: #f3f3f3;
    --text: #000;
    --border: #000;
    --button: #000;
    --button-icon: #fff;
    --footer: #ccc;
    --gray-hover: #e2e2e2;
    --gray: #ccc;
    --light-gray: #f0f0f0;
    --white: #fff;
    --black: #000;
    --popup: rgba(0, 0, 0, 0.7);
    --dark-gray: #aaa;
    --stat: #fff;
}

.dark-mode {
    --background: #121212;
    --loading-bar: #000;
    --text: #fff;
    --border: #c2c2c2;
    --button: #fff;
    --button-icon: #000;
    --footer: #a6a6a6;
    --gray-hover: #e2e2e2;
    --gray: #ccc;
    --light-gray: #f0f0f0;
    --white: #fff;
    --black: #000;
    --popup: rgba(0, 0, 0, 0.7);
    --dark-gray: #aaa;
    --stat: #ccc;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: var(--background);
    padding: 0;
    margin: 0;
}

/* Scroll Bar Width */
::-webkit-scrollbar {
    scroll-behavior: smooth;
    height: calc(100% - 3em);
    overflow-y: auto;
    width: 10px;
    height: 10px;
}

/* Scroll Bar Track */
::-webkit-scrollbar-track {
    border: none;
    border-radius: 10px;
}

/* Scroll Bar Handle */
::-webkit-scrollbar-thumb {
    background: var(--footer);  
    border-radius: 20px;
}

/* Scroll Bar Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--gray-hover);  
}

h1{
    margin-left: 20px;
    color: var(--text);
}

h1 a{
    text-decoration: none;
    color: var(--text);
}

input {
    color: var(--text);
}

#controls {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px;
}

#filters, #sorting {
    display: flex;
}

#set-filter option:first-child,
#rarity-filter option:first-child,
#artist-filter option:first-child,
#type-filter option:first-child,
#holo-filter option:first-child,
#count-filter option:first-child {
    background-color: var(--footer);
}

#sort-by option:first-child {
    background-color: var(--footer);
}

.card {
    border: none;
    border-radius: 5px;
    background-color: var(--background);
    text-align: center;
    width: 200px;
}

.card img {
    max-width: 100%;
    height: auto;
    cursor: pointer;
}

.card p{
    margin-block-start: 7px;
    margin-block-end: 3px;
    color: var(--text);
}

.card a{
    text-decoration: none;
    color: var(--text);
}

.card a:hover{
    color: var(--dark-gray);
}

.scroll-top {
    position: fixed;
    bottom: 15px;
    right: 15px;
    padding: 10px;
    background: var(--footer);
    color: #fff;
    cursor: pointer;
    display: none;
    z-index: 1000;
    border-radius: 10px;
}

#scroll-top:hover {
    background-color: var(--gray-hover);
}


#loading-bar-container {
    width: 100%;
    background-color: var(--loading-bar);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
}

#loading-bar {
    width: 0%;
    height: 10px;
    transition: width 1s ease-in-out;
    background: linear-gradient(to right, var(--light-gray), var(--dark-gray));
    border-top-right-radius: 10px; 
    border-bottom-right-radius: 10px; 
}

#loading-context {
    margin-left: 4px;
    margin-right: 4px;
    font-size: 12px;
    color: var(--text);
}

#card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    gap: 10px;
    justify-items: center;
}

/* Popup Styles */
#popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--popup);
    z-index: 9999;
    overflow: auto;
}

#popupImage {
    display: block;
    max-width: 90%;
    max-height: 90%;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.close {
    position: absolute;
    top: 10px;
    right: 25px;
    color: var(--dark-gray);
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease;
}

.close:hover {
    color: var(--gray);
}

#rarity-filter, #set-filter, #type-filter, #artist-filter, #holo-filter, #count-filter, #sort-by, #order-toggle, #visibleButton, #statsButton{
    padding: 7px;    
    background: var(--white);
    color: var(--black);
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--border);
    box-sizing: border-box;
    cursor: pointer;
    font-family: 'NanumB', sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin-right: 5px;
    margin-bottom: 5px;
    overflow: hidden;
    height: 36px;
    transition: height .4s ease;
}

#rarity-filter, #set-filter, #type-filter, #artist-filter, #holo-filter, #count-filter{
    width: 90px;
}

#order-toggle, #visibleButton, #statsButton{
    width: 36px;
}

#rarity-filter option, #set-filter option, #type-filter option,  #artist-filter option, #holo-filter option, #count-filter option, #sort-by option{
    font-size: 12px;
}

button{
    border: 2px solid var(--text);
    border-radius: 30px;
    box-sizing: border-box;
    
    background-color: transparent;
    color: var(--text);
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin: 0px;
    
    height: 35px;
    padding-top: 3px;
    padding-bottom: 3px;
    transition: all 0.3s;
    display: inline-block;
}

button:hover{
    color: var(--buttonhov);
    background-color: var(--text);
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.2),0 10px 10px 0 rgba(0,0,0,0.2);
    transform: translateY(-2px);
}

button:active {
    box-shadow: none;
    transform: translateY(0);
}

/* Styles for modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--popup);
}

.modal-content {
    background-color: var(--stat);
    margin: 3% auto;
    padding: 20px;
    border: none;
    border-radius: 5px;
    width: 80%;
}

.chart-container {
    width: 100%;
    height: 300px;
}

/* Ensure canvas fills container */
canvas {
    width: 100%;
    height: 100%;
    background-color: var(--stat);
    border-color: var(--gray);
}

footer {
    font-size: 16px;
    background-color: var(--footer);
    color: var(--white);
    text-align: left;
    margin: 15px 0px 0px 0px;
    padding-left: 20px;
    padding-right: 10px;
}

footer a{
    color: var(--white);
    text-decoration: underline;
}

footer a:hover{
    color: var(--gray-hover);
}

.footicons{
    font-size: 31px;
    display: flex;
    justify-content: start;
    align-items: center;
    color: var(--white);
}

.footicons .btn {
    margin-right: 10px;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    color: var(--button-icon);
    border: none;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
}

.btn.btn-github, .btn.btn-dark {
    background-color: var(--button);
}

.btn.btn-github:hover, .btn.btn-dark:hover {
    color: var(--gray);
}

.footerContent{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
}

#alert{
    margin-left: 20px;
}

#alert li, #alert a{
    line-height: 1.5;
    color: var(--text);
}

#alert a:hover{
    color: var(--dark-gray);
}

@media (min-width: 620px) and (max-width: 850px) {
    #controls {
        justify-content: flex-end;
    }    
}

@media only screen and (max-width: 620px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
        margin: 10px;
    }

    h1{
        font-size: 26px;
        margin-left: 15px;
    }

    .btn{
        padding: 4px;
    }

    #card-container{
        width: 100%;
        grid-template-columns: repeat(auto-fill, minmax(49%, 1fr));
        row-gap: 5px;
        column-gap: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .card{
        width: 85%;
    }

    #controls {
        flex-direction: column;
        margin: 10px;
        margin-left: 15px;
    }
    
    #rarity-filter, #set-filter, #type-filter, #artist-filter, #holo-filter, #count-filter, #sort-by, #order-toggle, #visibleButton, #statsButton{
        width: 100%;
    }

    #filters{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 5px;
        margin-bottom: 5px;
        width: 100%;
    }

    #sorting {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 5px;
        margin-bottom: 5px;
        width: 100%;
    }

    footer {
        font-size: 12px;
    }
}
